[Unit]
Description=Sonarr Daemon
After=syslog.target network.target

# Require USB Device Mount
# RequiresMountsFor=/home/kodi/MediaStore

[Service]
User=kodi
Group=kodi

Type=simple
PermissionsStartOnly=true
ExecStartPre=/bin/mkdir -p /home/kodi/.config/NzbDrone
ExecStartPre=/bin/chown kodi:kodi -R /home/kodi/.config/NzbDrone
ExecStart=/usr/bin/mono /opt/NzbDrone/NzbDrone.exe -nobrowser
TimeoutStopSec=20
KillMode=process
Restart=on-failure

[Install]
WantedBy=multi-user.target
