[Unit]
Description=Radarr Daemon
After=syslog.target network.target

[Service]
User=kodi
Group=kodi

Type=simple
ExecStartPre=/bin/mkdir -p /home/kodi/.config/Radarr
ExecStartPre=/bin/chown kodi:kodi -R /home/kodi/.config/Radarr
ExecStart=/usr/bin/mono /opt/Radarr/Radarr.exe --nobrowser
TimeoutStopSec=20
KillMode=process
Restart=always

[Install]
WantedBy=multi-user.target
